@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    
}
.ecom{
  size: 20px;
  justify-content: center;
}
.navbar{
    height: 50px;
    background-color: violet;
}
img{

  width: 50px;
  height: auto;
}
.align{
    padding-left: 250px;
}
.row{
    font-size: 30px;
    font-weight: 500;
    height: 500px;
    background-color: bisque;
}
.sky >li>a{
    font-weight: 400;
    font-size: 20px;
}
.sky{
  padding-right: 210px;
}
.card{

    
}
.headimg
{
  
  background-size: cover;
  background-repeat: no-repeat;
}
.headimg img{
  padding-top: 50px;
  
  width: 100%;
  height: 30%;
  
  background-repeat: no-repeat;
  background-size: cover;
}
.slide{
  justify-content: center;
  padding-left: 300px;
  background: rgb(235, 226, 226);
}
.heding>img{
  width: 400px;
}

.products>.box-container>.box{
  
  background: rgb(255, 255, 255);
  border-radius: .5rem;
  outline-offset: -1rem;
  box-shadow: 20px;
}
  

